<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Persons
    body
        h1 Persons
        ul
            each person in persons
                li
                    a(href="/person/" + person.id)= person.name